.modal-header, .modal-title{
	background-color: #f15927;
    color:white !important;
    text-align: center;
}
.about-footer{
	background-color: #f15927;
	color:white !important;
    text-align: center;
    font-size: 15px;
}

.modal-header .close{
	font-size: 30px;
	margin-top: 10px;
}

.modal-header h2{
	margin-top: 10px;
}

.modal-body img{
	width: 200px;
	height: 200px;
}