@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

#content{
	min-height: 620px;
	padding-bottom: 50px;
}
#content .row{
	padding-bottom: 50px;
}
/* ==============main============================= */
#right{
	margin: 20px 0px;
}
#left{
	margin: 40px 0px;
}
#menu{
	background-color: #f15927;
}
#menu li a{
	border-top: 1px solid #ffffff;
    color: white !important;
}


#footer{
	color:white !important;
	text-align: center;
	padding: 10px 0;
    border-radius: none;
    width: 102%;
    background-color: #f15927;
}
#footer .row{
    margin: 0px 0px;
}


#newgoal {
    display: none;
}
#detail {
    display: block;
}
/* ======================================== */
#myCarousel{
	height: 20%;
	width: 100%;
}
#myCarousel img{
	height: auto;
    width: 100%;
	overflow: hidden;
}

.jelly {
    font-size:24px;
    font-family: 'PT Sans Narrow', sans-serif;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    display: inline-block;
    margin: 15px;
    margin-top:30px;
    letter-spacing: 2px;
    font-weight: 700;
    outline: 0;
    position: relative;
    border-radius: 5px;
    -webkit-animation:  anim 2s ease-in infinite;
    animation:  anim 2s ease-in infinite;
    transition: all .3s;
    background: #F62217;
    color: #fff!important;
    overflow: hidden;
    text-decoration:none;
}

.jelly:active  {
    background: #4786b5;
}

@-webkit-keyframes anim {
    5% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
}
10% {
    -webkit-transform: scale(.9, 1.1) translateY(-.5rem);
    transform: scale(.9, 1.1) translateY(-.5rem);
}
15% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
@keyframes anim {
    5% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
}
10% {
    -webkit-transform: scale(.9, 1.1) translateY(-.5rem);
    transform: scale(.9, 1.1) translateY(-.5rem);
}
15% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@media only screen and (max-width:640px) {  
.jelly {
    padding: 25px 50px;
    font-size: 16px;
}
}

.user-informationtitle{
    margin-top:10px;
    background-color: #BDBDBD;
    border-radius: 5px 5px 0 0;
    padding:10px;
    padding-bottom: 5px;
}
.user-information{
    background-color:#F5F5F5;
    border-radius: 0 0 5px 5px; 
    padding-left:10px; 
    padding-top:5px;
}

#hide{
    display: none;
}
#show{
    display: block;
}
#content hr{
    background-color: black;
    height: 2px;
}
#login-div{
    display: none;
}
