.vertical_menu {
background: #f15927;
padding: 3px;
border-radius: 10px;
}
.vertical_menu li {
list-style: none;
text-align: center;
height: 50px;
line-height: 45px;
vertical-align: middle;
border-radius: 10px;
margin: 5px;
}
.vertical_menu li a {
text-decoration: none;
font-size: 15px;
color: white;
}
.vertical_menu li:hover {
border-bottom: 1px solid white;
}
.active{
    border-bottom: 1px solid white;
    background: #FF9900;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.dayOfweek{
	background-color: red !important;
}
#iterator, #weekly, #endDate{
	display: none;
}
.viewtoday{
	color: red;
}

#searchbox
{
    /* background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;             */
    width: 60%;
    height: 45px;
    padding: 10px;
    overflow: hidden; /* Clear floats */
    float: right;
}

#search, #submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 70%;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 23px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 20%;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
