::selection{
  background-color: #f15927;
  color: #fff;
  text-shadow: none;
}

#navbar{
  width: 102%;
  background-color: #f15927;
}

#navbar a{
  color: #fff;
}
#navbar li:hover a{
  color: #f15927;
  background-color: #fff;
}

#navbar a img{
  max-width: 100%;
  max-height: 100%;
}
.navbar-toggle{
  border: 1px solid #fff;
}
.navbar-toggle span{
  background-color: #fff;
}
.navbar-toggle:hover{
  background-color: #fff;
}
.navbar-toggle:hover span{
  background-color: #f15927;
}

.navbar-brand{
  padding: 5px 35px !important;
}

#user-nav li:hover a{
  background-color: #f15927;
  color: #fff;
}

#user-nav li a{
  background-color: #fff;
  text-align: center;
  color: #f15927;
}
#user-nav a:hover{
  background-color: #fff;
  color: #f15927;
}
#user-nav a img{
  padding: 2px;
}

#user-nav a {
  padding: 0px 15px 0px 2px;
}
#user-nav{
   margin: auto;
}
.dropdown-menu .divider{
  margin: 5px 0;
}