.modal-header, h4, .close {
    background-color: #000000;
    color:white !important;
    text-align: center;
    font-size: 30px;
 }
 .modal-footer {
    background-color: transparent;
    border-top: none;
 }
 #login-btn{
	background-color: #000000;
	color:white !important;
}

/*================= Login form css =====================*/
*{margin:0; padding:0}
.access-form .form{
	margin:0 auto; 
	background:#294072; 
	border: 2px solid #F15927;
	border-radius: 5px; 
	padding-top: 0px;
}
.access-form .header{height:44px; background:#F15927;}
.access-form .header h2{height:44px; margin-top:0px; line-height:44px; color:#fff; text-align:center}
.access-form .login{padding:0 20px}
.access-form .login span.un{width:10%; text-align:center; color:#fff; border-radius:3px 0 0 3px}
.access-form .login input{padding-left: 5%;}
.access-form .text{background:#fff; width:90%; border-radius:0 3px 3px 0; border:none; outline:none; color:#999; font-family: 'Source Sans Pro', sans-serif} 
.access-form .text,.login span.un{display:inline-block; vertical-align:top; height:40px; line-height:40px; background:#12192C;}

.access-form .btn{height:40px; border:none; background:#0C6; width:100%; outline:none; font-family: 'Source Sans Pro', sans-serif; font-size:20px; font-weight:bold; color:#eee; border-bottom:solid 3px #093; border-radius:3px; cursor:pointer}
.access-form .btn:hover{color:#000;}
.access-form ul li{height:40px; margin:5px 0; list-style:none}
.access-form .span{display:table; width:100%; font-size:14px;}
.access-form .ch{display:inline-block; width:50%; color:#fff}
.access-form .ch a{color:#fff; text-decoration:none}
.access-form .ch:nth-child(2){text-align:right}
/*social*/
.access-form .social{height:30px; line-height:30px; display:table; width:100%}
.access-form .social div{display:inline-block; width:42%; color:#eee; font-size:12px; text-align:center; border-radius:3px}
.access-form .social div i.fa{font-size:16px; line-height:30px}
.access-form .fb{background:#3B5A9A; border-bottom:solid 3px #036} .tw{background:#2CA8D2; margin-left:16%; border-bottom:solid 3px #3399CC}
/*bottom*/
.access-form .sign{width:100%; padding:0 5%; height:50px; display:table; background: #F15927;}
.access-form .sign div{display:inline-block; width:50%; line-height:50px; color:#fff; font-size:14px}
.access-form .up{text-align:right}
.access-form .up a:hover{color:#000;}
.access-form .up a{display:block; background:#096; text-align:center; height:35px; line-height:35px; width:50%; font-size:16px; text-decoration:none; color:#eee; border-bottom:solid 3px #006633; border-radius:3px; font-weight:bold; margin-left:50%}
@media(max-width:480px){ .form{width:100%}}

#facebook-twitter-icon{
	width: 30px;
	height: 30px;
	margin-top:10px;
	margin-bottom: 10px; 
}
#login-modal .alert{
	margin-bottom: 0px;
}
.alert-danger li{
	margin-left: 5%;
}
.access-form .inline{
	color: white;
}

