*{
	font-family: 'Comfortaa', cursive;
}
body{
	width: 98%;
	background-image: url('../img/background.jpg');
}

#calendar{
 float: left;
 width: 100%;
 height: 220px;
 margin-top: 10px;
 background-color: cornflowerblue;
 color: #fff;
 border-radius: 5%;
 box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
 margin-bottom: 50px;
}
#calendar:hover{
	background-color:#CC99FF; 
}
#calendar>p{
 font-family: Verdana, Arial, sans-serif;
 padding: 4px 0;
 margin: 0;
 color: #fff;
 text-align: center;
}
#Today{
font-size: 20px;
}
#calendar-day{
 font-size: 16px;
 margin-top: 5px;
}
#calendar-date{
 font-size: 60px;
 margin-top: 5px;
}
#numEvents{
font-size: 16px;
margin-top: 5px;
color: red!important;
}
#calendar-month-year{
 font-size: 15px;
 margin-top: 5px;
}