.user-informationtitle{
    margin-top:10px;
    background-color: #f15927;
    border-radius: 5px 5px 0 0;
    padding:10px;
    padding-bottom: 5px;
}
.user-information{
    background-color:#F5F5F5;
    border-radius: 0 0 5px 5px; 
    padding: 5px 10px;
}
.user-content {
    padding-top:20px;
    padding-bottom: 40px;
    margin: 0px 20px;
    border-bottom: 2px solid #000;
}

#user-password{
    border: none;
    background-color: #F5F5F5;
}
#account-inf-div, #edit-basic-inf-div, #edit-account-inf-div, #upload-div{
    display: none;
}
#upload-btn, .user-informationtitle{
    color: white;
}
.user-informationtitle a{
    color: white;
}
#basic-inf-btn a:hover{
    background-color: #fff;
    color: #f15927;
}
.send-btn{
    color: black;
}
.normal-font{
    font-family: 'arial', serif;
}
.testvalidation .inline{
    color: red;
}