th{
	text-align: center;
	background-color: green;
	color: white !important;
}
th{
	min-width: 60px;
}
td{
	text-align: center;
	vertical-align: center;
}
.mark:hover{
	background-color: #FF9966;
}
.red{
}
.today{
	color: red;
}
.today p{
	font-size: 10px;
}
#blank{
	border: none;
}
.success{
	background: url("/img/succ.png") no-repeat;
	background-size:contain;
}
.fail{
	background: url("/img/fail.png") no-repeat;
	background-size:contain;
}

#editGoalForm{
	padding: 50px 0px;
}
#reportGoal{
	display: none;
}

/* ======================== */
#chartdiv {
  width   : 100%;
  height    : 400px;
  font-size : 11px;
}         
#chartdiv a{
  display: none!important;
}
#edit, #report{
	width: 150px;
	border: none;
}